body{
  background-color: #2e2e2e;
  color: #d4d4d4;
  font-family: sans-serif;
}
.node:before{
  content:attr(title) " ";
  display: flex; 
  border-top-left-radius:.75em; 
  border-top-right-radius:.75em; 
  background-color:#6e6e6e; 
  padding:0.1em .3em 0em; 
  margin:-.1em -.3em 0.2em; 
}
.node{
  background-color: #4e4e4e;
  border-radius: .75em;
  padding:0.1em .3em .5em;
  position:absolute;
  display: flex;
  min-width: 100px;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}
.container{
  display: flex;
  flex-direction: row;
  flex: 1;
}
.ports{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.connection:after{
  position:absolute;
  border:solid 1px #dedede;
  background-color:#2e2e2e;
  width:0.5em;
  height:0.5em;
  border-radius:0.5em;  
}
.connection.filled:after{
  border:solid 1px transparent;
  background-color:#aeaeae;
}
.connection:hover:after{
  border-color:red;
}
.connection.output{
  right: -.25em;
  cursor: pointer;
}
.connection{
  flex: 0.5;
}
.connection:after{
  content:"";
  margin-top: 0.25em;
}
.connection.input {
  padding-left:0.25em;
}
.connection.input:after{
  left:-0.25em;
}
.connection.output {
  padding-right:0.5em;
  text-align: right;
}
.connection.output:after{
  right:-0.25em;
}
svg{
  position:absolute;
  top:0px;
  left:0px;
  z-index:-100;
  width:100%;
  height:100%;
}
